*body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul li a {
    list-style: none;
    margin: 0 60px;
    margin-left: 20px;
    font-size: 20px;
    color:#333;
    text-decoration: none;
    
}
.nav ul img{
    margin-right: 40%;
}
.welcome{
    background-image: 
    linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
    url('Ressources/images/page1.jpg');

    background-size: cover;
    background-position: center;
    height: 850px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: white;
    
}

/* titre */
.welcome h1{
    font-size: 50px;
    margin-bottom: 15px;
    
}

/* paragraphe */
.welcome p{
    font-size: 30px;
    max-width: 600px;
    line-height: 1.6;
   
    padding: 40px; 
}

.infos .autres-infos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #F0DFBC; 
    margin-top: 100px;
    border-radius: 50px;
    
}
.autres-infos {
     width: 90%;
     height: 350px;
     margin: 0 auto;
}